.header-container {
    position: sticky;
    top: 0;
}

.header {
    position: relative;
    height: 5em;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.user-details-container {
    position: absolute;
    top: 36%;
    left: 5%;
}

.user-name {
    color: white;
    font-size: 1em;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5em;
    height: 30em;
}

.datepicker {
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

.datepicker input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 10em;
    height: 2.5em;
}

.homework-card {
    border-radius: 15px;
    display: flex;
    flex: 1;
    height: 3em;
    margin: 2em;
    max-height: 8em;
}

.left-container {
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex: 0.2;
    align-items: center;
    justify-content: center;
}

.homework-title {
    color: white;
    font-size: 2em;
}

.right-container {
    display: flex;
    flex: 0.8;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.description {
    padding-left: 1em;
    flex: 0.8;
    font-size: 1.5em;
}

.right-info-content {
    display: flex;
    flex-direction: column;
    flex: 0.2
}

.teacher-name {
    flex: 0.2;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2em;
}

.date-text {
    flex: 0.2;
    font-weight: bold;
    font-size: 1.2em;
}

.students-select {
    height: 2.5em !important;
    margin-left: 1em !important;
    width: 10em !important;
    outline: unset;
}

.logout-button {
    position: absolute;
    top: 27%;
    right: 8%;
}

.logout-button a {
    color: white;
}

a:hover {
    color: #f1f1f1 !important;
    text-decoration: unset !important;
}

.colorWhite {
    color: white;
}